{% extends 'layout.html.twig' %}

{% block content %}

<div >
    <div class= "bg-light pt-4" style="height: 150px;background-image: url('assets/images/BouteillesCave.png');">    
        <div style="border-bottom:solid; border-bottom-color:#750B15">
            <h1 class= "pt-2 pb-3" style="color:#750B15 ">
            Ma Cave
            </h1>
        </div>
    </div>
</div>

{% endblock %}
