{% extends 'layout.html.twig' %}
{% block stylesheet %}
    {{parent()}}
    <link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}

{% block content %}
   <div id="wrapper" class="">
       <div class= "pt-4 w-100" style="height: 180px; background-color:#FFF8F3">    
            <div style="border-bottom:solid; border-bottom-color:#750B15">
                <h1 class= "pt-2 pb-3" style="color:#750B15 ">
                Nouvelle bouteille
                </h1>
            </div>
        </div>

        <form action="" method="POST"  class=" block2 m-auto mt-5 px-4" enctype="multipart/form-data">
<!-- ********************************** sous-block1 ********************************* -->

            <div class="container text-center ss-block1 "><!--ms-3 container-fluid row -->
            <div class="img_+_input">
                {# <!-- ----------------------illustration -----------------------------> #}
                <div class="div_illustration" id="div_illustration">
                <div class="img_bouteille">
                    <img src="assets/images/bouteille.svg">
                </div>
                    <label for="illustration" class="form-label text-start p-1 mb-0 form-label text-start p-1 mb-0"></label>
                    <input type="file" name="illustration" class="form-control" id="illustration">
                </div>
                {# <!-- ----------------------block input à côté image -----------------------------> #}
                <div class=" gpe_right_img">
                                {# <!-- ----------gpe checkbox ----------------> #}
                    <div class=" d-flex group_check_box mt-3">
                    <div class="form-check">
                            <input class="form-check-input" type="radio" name="couleur" id="rouge">
                            <label class="form-check-label" for="rouge">
                                Rouge
                            </label>
                        </div>
                        <div class="form-check ms-3">
                            <input class="form-check-input" type="radio" name="couleur" id="rose" checked>
                            <label class="form-check-label" for="rose">
                                Rosé
                            </label>
                        </div>
                        <div class="form-check ms-3">
                            <input class="form-check-input" type="radio" name="couleur" id="blanc" checked>
                            <label class="form-check-label" for="blanc">
                                Blanc
                            </label>
                        </div>
                    </div> {# <!-- ----------FIN gpe checkbox ----------------> #}
                    <div class="d-flex flex-column" id="div_domaine">
                        <label for="domaine" class="form-label text-start p-1 mb-0 text-start"></label>
                        <input type="text" name="domaine" class="form-control w-100" id="domaine" placeholder="Domaine :">
                    </div>
                    <div class="type d-flex flex-column "><!--row -->
                        <label for="type" name="type"class="form-label text-start p-1 mb-0">Type :</label>
                        <select class="form-select form-select-sm" aria-label="Default select example">
                            <option selected desabled>Choisir le type</option>
                            <option ></option>
                        </select>
                        {# <select class="select-type" name="type[]" multiple id="type">
                            <?php foreach ($types as $type) : ?>
                                    <option value="<?= $type['id'] ?>"><?= $type['libelle'] ?> </option>
                                <?php endforeach ?>
                        </select> #}
                    </div>
                    <div class="d-flex flex-column">
                        <label for="annee" class="form-label text-start p-1 mb-0">Année :</label>
                        <select class="form-select form-select-sm" name="annee[]" >
                            <option selected>Choisir l'année</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                        </select>
                    </div>
            
                    <div class="select_app_block d-flex flex-column" id="div_appelation">
                        <label for="appelation" name="appelation"class="form-label text-start p-1 mb-0">Appelation :</label>
                        <select class="form-select form-select-sm" aria-label="Default select example">
                            <option selected>Choisir l'appelation</option>
                        </select>
                            </select>
                    </div>
                    <div class="select_region_block d-flex flex-column" id="div_region">
                        <label for="region" name="region"class="form-label text-start p-1 mb-0">Région :</label>
                        <select class="form-select form-select-sm" aria-lasbel="Default select example">
                            <option selected>Choisir la région</option>
                            <option selected>Choisir la région</option>
                            <option selected>Choisir la région</option>
                        </select>
                    </div>
                    <div class="d-flex flex-column" id="div_pays">
                        <label for="pays" name="pays"class="form-label text-start p-1 mb-0">Pays :</label>
                        <select class="form-select form-select-sm" aria-lasbel="Default select example">
                            <option selected>Choisir le pays</option>
                            <option selected>Choisir le pays</option>
                            <option selected>Choisir le pays</option>
                        </select>
                    </div>
                </div> <!-- FIN div gpe_right_img  -->
            </div> <!-- FIN div img_+_input  -->
                {# <!-- ----------------------input vintage en long -----------------------------> #}
            <div class="sous_image d-flex flex-column" id="div_vintage">
                <label for="cepage" name="cepage"class="form-label text-start p-1 mb-0">Année :</label>
                        <select class="form-select form-select-sm" aria-lasbel="Default select example">
                            <option selected>Choisir le cépage</option>
                            <option selected>Choisir le cépage</option>
                            <option selected>Choisir le cépage</option>
                        </select>
            </div>   
        </div> 
            
            
                    
                <div class="mb-3 ss-block2">
                    <div class="ss-ss-block2-1">
                        <div class="mb-3 w-100">
                            <label for="description" class="form-label text-start p-1 mb-0 ms-2" > Description commerciale</label>
                            <textarea type="text" name="description" class="form-control" id="description" rows="5" placeholder="Description commerciale..."></textarea>
                        </div>
                        <div class="d-flex row justify-content-around block_checkBox">
                            <p>Se boit avec</p>
                            <div class=" ms-2 col checkBoxLeft">
                                <div class="form-check"> 
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">Charcuterie</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" >
                                    <label class="form-check-label" for="flexCheckDefault1">Viande blanche</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" >
                                    <label class="form-check-label" for="flexCheckDefault1">Viande rouge</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" >
                                    <label class="form-check-label" for="flexCheckDefault1">Gibier</label>
                                </div>
                            </div>
                            <div class="col checkBoxRight">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" >
                                    <label class="form-check-label" for="flexCheckDefault1">Poisson</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" >
                                    <label class="form-check-label" for="flexCheckDefault1">Fromage</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" >
                                    <label class="form-check-label" for="flexCheckDefault1">Chocolat</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" >
                                    <label class="form-check-label" for="flexCheckDefault1">Dessert fruités</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-around ss-ss-block2-2">
                        <div class="col-5">
                            <div class="my-3">
                                <label for="date_achat" class="form-label text-start p-1 mb-0">Date d'achat :</label>
                                <input type="date" name="date_achat" class="form-control" id="date_achat"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label text-start p-1 mb-0">Prix d'achat :</label>
                                <input type="number" name="price" class="form-control" id="price">
                            </div>
                        </div>
                        <div class="col-5 ">
                            <div class="my-3">
                                <label for="aging" name="aging"class="form-label text-start p-1 mb-0">Boire avant :</label>
                                <select class="form-select form-select-sm">
                                    <option selected>Choisir une année</option>
                                    <option selected>2025</option>                           
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="value" class="form-label text-start p-1 mb-0">Valeur :</label>
                                <input type="number" name="value" class="form-control" id="value">
                            </div>
                        </div>   
                        </div>
                    </div>
                
                    
                <div class="row ss-block3">
                    <div class="row ss-ss-block2">
                        <div class="mb-3 col-10">
                                <label for="rank" class="form-label text-start p-1 mb-0">Ranking :</label>
                                <input type="number" name="rank" class="form-control" id="rank">
                        </div>
                        
                        <div class="mb-3">
                            <label for="comment" class="form-label text-start p-1 mb-0">Commentaires :</label>
                            <textarea type="text" name="comment" class="form-control" id="comment" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row ss-block4">
                    <div class="mb-3 d-inline-flex">
                        <label for="stock" class="form-label text-start p-1 mb-0 w-25">stock :</label>
                        <input type="number" name="stock" class="form-control w-auto" id="stock">
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label text-start p-1 mb-0">Emplacement cave :</label>
                        <textarea type="text" name="location" class="form-control" id="location" rows="10" placeholder="Etagère, armoire casier..."></textarea>
                    </div>
                </div>
                            
                <div class="d-flex">
                    <div class="mb-3  mr-3">
                        <input type="submit" name="btn_add_bottle" class=" btn btn-primary" value="Ajouter"></input>
                    </div>
                    <div class="mb-3">
                        <a href="" class="btn btn-warning">Annuler</a>
                    </div>
                </div>
        
    </form>
</div>
          
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
         
</body>
{% endblock %}