
.img_bouteille{
    /* background-color: var(--lightPrimary); */
    max-width: 4rem;
    height: auto;
}.pic_bottle{
    background-color: #fff;
}
form{
    background-color: var(--darkRed) ;
    color: var(--lightPrimary);
}

.btn_dark{
    background-color: var(--darkdarkRed);
    border-style: solid;
    color : var(--lightPrimary)
}

.btn_light{
    color : var(--lightPrimary)
}


.textearea{
    width: 95%;
}

@media screen and (min-width: 700px) {
    form{
       width: 50%;
       margin: auto; 
       margin-top: 5px;
  }

  .illustration{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .img_input{
    display: flex;
    }
  .img_bouteille{
    margin-bottom: 5px;
    width:25%
}
    .gpe_right_img{
       margin-left: 3px;
    }
    .input_etoile{
    background-color: fuchsia;
    border-color: black;
    border-style: solid;
    
    }
    #input_etoile1{
        width: 10%;
        flex-direction: column;
    }
    #input_etoile2{
        width: 13%;
         flex-direction: column;
    }
    #input_etoile3{
        width: 18%;
         flex-direction: column;
    }
    #input_etoile4{
        width: 20%;
         flex-direction: column;
    }
    #input_etoile5{
        width: 25%;
         flex-direction: column;
    }
  

}