:root {
    --lightPrimary: #fff8f3;
    --darkRed: #750b15;
    --yellowWine: #d4af06;
    --pinkWine: #fcb8be;
    --redWine: #bb1a2b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: var(--darkRed);
}
