{% block navbar %}

	<nav class="navbar bg-prune navbar-expand-sm fixed-top px-5 pt-3 shadow " style="letter-spacing:2px">

		<button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<img class="d-inline-block align-top " src="/assets/images/icones/Hamburger.svg"/></button>

		<div class="collapse navbar-collapse vh-98-md" id="navbarNav">

			<div class="d-sm-none pt-5 border-bottom border-white">
				<p class="text-lightPrimary">MENU</p>

			</div>

			<ul class="navbar-nav pt-1 gap-5 d-flex  justify-content-md-evenly w-100 ">
				<div class="d-flex flex-column flex-sm-row">
					<li class="nav-item active">
						<a href="accueil" class="nav-link ">
							<p class="text-lightPrimary">ACCUEIL</p>
						</a>
					</li>
					<li class="nav-item active">
						<a href="maCave" class="nav-link ">
							<p class="text-lightPrimary">MA CAVE</p>
						</a>
					</li>
					<li class="nav-item active">
						<a href="add" class="nav-link ">
							<p class="text-lightPrimary">AJOUTER UN VIN</p>
						</a>
					</li>
					<li class="nav-item active">
						<a href="profil" class="nav-link">
							<p class="text-lightPrimary">MON PROFIL</p>
						</a>
					</li>
				</div>
				<div>
					<li class="nav-item active ps-5 pt-2 d-none d-md-block ">
					<p class="text-lightPrimary ml-4">La cave de {{user.firstname}}</p>
					</li>
				</div>
				<div>
					<li class="nav-item active d-none d-md-block ">
					<a href="logout" class="nav-link ">
						<p class="text-lightPrimary">LOGOUT</p>
					</a>
					</li>
				</div>
			</ul>

			<div class="h-50 d-flex flex-column-reverse justify-content-end align-items-end pb-5">
				<a href="logout" class="nav-link ">
					<button type="button" class="logout d-sm-none rounded h-2">
						<p class="text-center p-2 mb-0 bg-lightPrimary text-prune ">LOG OUT</p>
					</button>
				</a>
			</div>

		</div>
		<div class="ms-auto">
			<img src="assets/images/secretCellarLogo.svg" height="70">
		</div>
	</nav>
{% endblock %}
