
{% block navbar %}
    <nav class = "navbar navbar-expand-sm px-5 pt-3 shadow">
      
            <button
            type ="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            class="navbar-toggler"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
            > 
            <img class="d-inline-block align-top " src ="assets/images/icones/Hamburger.svg"/></button>
      
      <div class="collapse navbar-collapse vh-98-md" id="navbarNav">

        <div class ="d-sm-none pt-5 border-bottom border-white">
            <p >MENU</p>
            
        </div>
    
       <ul class="navbar-nav pt-1">
            <li class="nav-item active">
                <a href="#" class="nav-link ">
                    <p >MA CAVE</p>
                </a>
            </li>
            <li class="nav-item active">
                <a href="#" class="nav-link ">
                    <p >AJOUTER UN VIN</p>
                </a>
            </li>
            <li class="nav-item active">
                <a href="#" class="nav-link">
                    <p >MON PROFIL</p>
                </a>
            </li>
       </ul>
            <div class = "h-50 d-flex justify-content-end align-items-end pb-5"> 
                 <button        
                    type="button"
                    class="logout  d-sm-none rounded h-2">
                    <p class="text-center mb-0 ">LOG OUT</p>
                 </button>
            </div>
       
       </div>
            <div class="ms-auto"> 
                <img src ="assets/images/SecretCellarLogo.png" width="52" height="37">
            <div>

        </div>
        </div>
    </nav>
{% endblock %}