{% block stars %}
	<span class="box ">
		<i class="bi bi-star text-warning"></i>
		<i class="bi bi-star text-warning"></i>
		<i class="bi bi-star text-warning"></i>
		<i class="bi bi-star text-warning"></i>
		<i class="bi bi-star text-warning"></i>
	</span>

{% endblock %}
