{% extends 'layout.html.twig' %}

{% block content %}

<div>

    {# first section #}
    <div>
    
    </div>
    {# second section #}
    <div>
    
    </div>
    {# third section #}
    <div>
    
    </div>
    {# fourth section #}
    <div>
    
    </div>
    {# fifth section #}
    <div>
        <button        
        type="button"
        class="rounded h-2" style="background-color: var(--darkdarkRed);">
            <p class="text-center mb-0 ">Retour à mes vins </p>
        </button>
    </div>

</div>

{% blockend %}