{% extends 'layout.html.twig' %}

{% block content %}

	<div class="bg-lightPrimary">
		{# header #}
		<div class="pt-4" style="height: 150px;background-image: url('assets/images/BouteillesCave.png');">
			<div style="border-bottom:solid; border-bottom-color:#750B15">
				<h1 class="pt-2 pb-3 text-darkRed">
					Ma Cave
				</h1>
			</div>
		</div>

		{# barre de recherche #}
		<div class="py-5">
			<div class="d-flex justify-content-around">
				<div class="d-flex w-75">
					<input
					type="text" class="form-control" placeholder="Rechercher son vin"/>
					{# bouton search #}
					<button class="btn d-none d-md-block bg-darkRed text-lightPrimary" type="button">
						RECHERCHE
					</button>
					<button class="d-block d-md-none rounded bg-darkRed text-lightPrimary" type="button">
						<img src="assets/images/icones/Loupe.svg"/></button>
				</button>
				{# bouton filtre #}
				<button class="btn d-none d-md-block ms-2 bg-darkRed text-lightPrimary" type="button" data-bs-toggle="modal" data-bs-target="#modal">
					FILTRES
				</button>
				<button class="d-block d-md-none rounded ms-2 bg-darkRed text-lightPrimary" type="button" data-bs-toggle="modal" data-bs-target="#modal">
					<img src="assets/images/icones/Filtres.svg"/></button>
			</button>
		</div>
	</div>
</div>
<a class="w-100 d-flex justify-content-center" href="show?id={{wine.id}}">
	
		
			{% block card %}
		
				{% include 'Component/_cardWine.html.twig' %}	
				{# {% include 'Component/_cardWine.html.twig' with {'wines': wines} %} #}

			{% endblock %}
		
			
		
	
</a></div>{# ****************** MODAL FILTRES ******************** #}<div class="container text-dark">
<div class="modal blur" id="modal">
	<div class=" modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header  text-center">
				<h2>Filtres</h2>
				<div class="btn-close" data-bs-dismiss="modal"></div>
			</div>
			<div class="modal-body">
				<div class="form">
					<select class="form-select my-3" aria-label="Default select example">
						<option selected value="">Country</option>
						<option value="1">France</option>
						<option value="2">Australie</option>
						<option value="3">Pologne</option>
					</select>
					<select class="form-select my-3" aria-label="Default select example">
						<option selected value="">Stock</option>
						<option value="1">Plus de stock</option>
						<option value="1">Entre 1 et 6 bouteilles</option>
						<option value="2">Entre 6 et 12 bouteilles</option>
						<option value="3">Plus de 12 bouteilles</option>
					</select>
					<select class="form-select my-3" aria-label="Default select example">
						<option selected value="">Région</option>
						<option value="margaux">Bourgogne</option>
						<option value="pessac">Aquitaine</option>
						<option value="bordeaux">Rhône-Alpes</option>
					</select>
					<select class="form-select my-3" aria-label="Default select example">
						<option selected value="">Appellation</option>
						<option value="margaux">Margaux</option>
						<option value="pessac">Pessac</option>
						<option value="bordeaux">Bordeaux</option>
					</select>
					<select class="form-select my-3 " aria-label="Default select example">
						<option selected value="">Millésime</option>
						<option value="2018">2018</option>
						<option value="2017">2017</option>
						<option value="2016">2016</option>
					</select>
					<select class="form-select my-3" aria-label="Default select example">
						<option selected value="">Couleur</option>
						<option value="rouge">Rouge</option>
						<option value="blanc">Blanc</option>
						<option value="rose">Rosé</option>
					</select>

					<select class="form-select my-3" aria-label="Default select example">
						<option selected value="">Type</option>
						<option value="sec">Sec</option>
						<option value="moelleux">Moelleux</option>
						<option value="liquoreux">Liquoreux</option>
						<option value="petillant">Pétillant</option>
					</select>
					<div class=" btn bg-pinkWine w-100  btn-sm">Filtrer</div>
				</div>
			</div>
		</div>

	</div>

</div></div>{# ****************** END modal filtres ******************** #}{% endblock %}
