{% extends 'layout.html.twig' %}

{% block title %}Ma cave
{% endblock %}

{% block content %}

	<section class="d-flex flex-column-reverse ">
		<div class=" bg-lightPrimary d-flex flex-column-reverse">
			<div class="container bg-lightPrimary p-4 mb-8">
				<div class="m-5">
					<h1 class="text-darkRed mb-0">My Secret Cellar</h1>
				</div>
				<div class="p-5">
				{% block statsCave %}
					{% include "Accueil/statsCave.html.twig" %}
				{% endblock %}
				</div>

			</div>

			<div id="a-deguster" class="bg-darkRed p-4 m-5 ">

				<div>
					<h2 class="text-lightPrimary">A déguster cette année</h2>
				</div>
				<div style="height: 2px; background-color: white; width:90%"></div>

				<div
					class="d-flex flex-column flex-sm-row mt-4 p-2">
					{# intégrer image ci dessous#}
					<div class="d-flex justify-content-center">
						<img src="assets/images/BouteilleSeule.jpg" width="100" height="200"/>
					</div>

					{# intégrer component stars ci-dessous #}

					<div class=" d-flex flex-column mt-5 mt-sm-0 p-sm-5">
						<div class="d-flex flex-column">
							<h3 class="text-lightPrimary">Chateau Martillac</h3>
							{% block stars %}
								{% include "Component/_stars.html.twig" %}
							{% endblock %}
							<p>2018</p>
						</div>


						<div class= "flex">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet officia aspernatur, est, voluptate atque ipsum quis sequi suscipit optio doloremque minus officiis, saepe illum modi cumque dolores tempora pariatur beatae.</p>
							{# intégrer component stock #}

							<div class="d-flex justify-content-end mt-3">
								<span class=" rounded p-2 text-bg-darkdarkRed">Stock : 8</span>
							</div>
							
							
						</div>


					</div>

				</div>
			</div>

		</div>
	</div>
	<div
		style="display:flex; align-items:center; height:200px; background-size: cover;background-position:center; background-repeat:no-repeat; background-image: url(assets/images/cellarblur.png);width:100;">{# <div class="w-100 d-flex justify-content-around">
									<input type="button" class="btn btn-lg btn-lightPrimary " value="Ma cave">
									<input type="button" class="btn btn-lg btn-lightPrimary " value="Ajouter un vin"/>
								</div> #}
	</div>

</section>

{% endblock %}
