{% extends 'layout.html.twig' %}

{% block title %}Ma cave
{% endblock %}

{% block content %}

	<section class="d-flex flex-column-reverse ">
		<div class=" bg-lightPrimary d-flex flex-column-reverse">
			<div class="container bg-lightSecondary p-4 mb-5">
				<div class="my-5">
					<h2 class="text-prune mb-0">Ma cave en quelques chiffres</h2>
				</div>
				<div class="pb-5 pr-5">
					{% block statsCave %}
						{% include "Accueil/statsCave.html.twig" %}
					{% endblock %}
				</div>

			</div>

			<div id="a-deguster" class="bg-lightPrimary p-4 m-5 ">

				<div>
					<h2 class="text-prune">A déguster cette année</h2>
				</div>
				<div style="height: 2px; background-color: var(--prune); width:50%"></div>

				<div
					class="d-flex flex-column flex-sm-row mt-4 p-2">
					{# intégrer image ci dessous#}
					<div class="d-flex justify-content-center">
						<img src="/assets/images/BouteilleSeule.jpg" width="100" height="200"/>
					</div>

					{# intégrer component stars ci-dessous #}

					<div class=" d-flex flex-column mt-5 mt-sm-0 p-sm-5">
						<div class="d-flex flex-column">
							<h3 class="text-prune">Chateau Martillac</h3>
							{% block stars %}
								{% include "Component/_stars.html.twig" %}
							{% endblock %}
							<p class="text-prune">2018</p>
						</div>


						<div class="flex text-prune">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet officia aspernatur, est, voluptate atque ipsum quis sequi suscipit optio doloremque minus officiis, saepe illum modi cumque dolores tempora pariatur beatae.</p>
							{# intégrer component stock #}

							<div class="d-flex justify-content-end mt-3">
								<span class=" rounded p-2 text-bg-prune">Stock : 8</span>
							</div>


						</div>


					</div>

				</div>
			</div>

		</div>
	</div>
	<div class="bg-lightSecondary pt-4 w-100" style="height: 180px">
		<div style="border-bottom:solid; border-bottom-color:var(--prune)">
			<h1 class="pt-2 ps-2 mt-5 mx-5 text-prune" style="letter-spacing:5px">
				My Secret Cellar
			</h1>
		</div>
	</div>
</section>{% endblock %}
