{% extends 'layout.html.twig' %}

{% block title %}Ma cave
{% endblock %}

{% block content %}
	<section class="d-flex flex-column-reverse">
		<div class="container-fluid bg-dark d-flex flex-column-reverse">
			<div class="container bg-light p-4 mb-8">
				<div class="row ">
					<h1>My Secret Cellar</h1>
				</div>
				<div style="height: 2px; background-color: black; width:80%"></div>

				{% block statsCave %}
					{% include "Accueil/statsCave.html.twig" %}
				{% endblock %}


			</div>

			<div id="a-deguster" class="container-sm text-bg-dark p-4 mb-8">

				<div class="row ">
					<h2>A déguster cette année</h2>
				</div>
				<div style="height: 2px; background-color: white; width:80%"></div>

				<div
					class="row mt-4">
					{# intégrer image ci dessous#}
					<div class="col-4 text-bg-light">picture</div>

					{# intégrer component stars ci-dessous #}

					<div class="col-8 d-flex flex-column">
						<div class="row">
							<h3 class="">Chateau Martillac</h3>
							{% block stars %}
								{% include "Component/_stars.html.twig" %}
							{% endblock %}
						</div>


						<p>2018</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet officia aspernatur, est, voluptate atque ipsum quis sequi suscipit optio doloremque minus officiis, saepe illum modi cumque dolores tempora pariatur beatae.</p>
						{# intégrer component stock #}
						<span class="fs-5  rounded p-2 text-bg-light align-self-end">Stock : 8
						</span>

					</div>

				</div>
			</div>

		</div>
	</div>
	<div style="display:flex; align-items:center; height:200px; background-size: cover;background-position:center; background-repeat:no-repeat; background-image: url(assets/images/BouteillesCave.png);width:100;">
		<div class="w-100 d-flex justify-content-around">
			<input type="button" class="btn btn-lg btn-dark " value="Ma cave">
			<input type="button" class="btn btn-lg btn-dark" value="Ajouter un vin"/>
		</div>
	</div>

</section>{% endblock %}
