{% block statsCave %}

	<div class="row  mt-2">
		<div class="col d-flex  justify-content-around align-items-center">
			<span class=" text-darkRed p-0 m-2 text-end">Valeur de ma cave</span>
			<hr style="border-left:3px solid;color:rgb(33, 37, 41) ;height:5em">
			<h1 class=" text-darkRed m-2">3500</h1>

		</div>

		<div class="col d-flex justify-content-around align-items-center">
			<span class="text-darkRed p-0 m-2 text-end">Nombre de bouteilles</span>
			<hr style="border-left:3px solid;color:rgb(33, 37, 41) ;height:5em">
			<h1 class=" text-darkRed m-2">25</h1>

		</div>
	</div>

{% endblock %}
